*.pth
*.pkl
*.pt
*.csv
__pycache__/
*.onnx
trl_onnx_models/
consumer_states/
/opt/airflow/custom_persistent_shared/data/
mlruns/
saved_models/
state/
*.ipynb
platform-secrets.yml
start_training.sh
utils/dockerfiles/data