setuptools==58.2.0
SQLAlchemy
apache-airflow
vastai-sdk
psycopg2-binary
pyarrow
pandas
numpy
quixstreams
pydantic
numpy
numexpr
playwright
bs4
prometheus-fastapi-instrumentator<6.0.0
mlflow
ta
transformers
oto3
vastai
onnxruntime
onnxmltools
onnx
optimum 
lightgbm
scikit-learn
fastapi
uvicorn
peft
